html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
