h2{
    color: var(--secundaria);
    font-weight: 700;
}


/* --- FIRST CARD --- */
.card{
    padding: 1rem;
    border: none;
    background-color: var(--background);
}

.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icons-list{
    width: 100%;
    height: 38px;
    margin: 0;

    text-decoration: none;
    background: none;
    color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity));

    padding: 0 15px;
    transition: 0.5s;
}

.selected-item{
    background-color: #2B2B2B;
}

#icons-list::selection{
    background-color: #2B2B2B;
}

.previewIcone{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0;
    text-align: center;
    justify-items: center;
    font-size: 3rem;
}

.iconsPreview{
    width: 100%;
    height: 100%;
}

.values-list  li{
background-color: #2B2B2B;
color: #fff;
border: none;

font-size: 1.2rem;
}

.values-list span{
    background-color: var(--background);
    color: #fff;

    color: #D2D2D2;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
}

.card ul li{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 12px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.card ul li:nth-child(4){
    justify-content: left;
}

.card ul li p{
    margin: 0;
}

.card button{
    background: none;
    border: none;
}


/* --- END FIRST CARD --- */

/* --- SECOND CARD --- */
.card-metas{
    background: linear-gradient(180deg, #303030 0%, rgba(40, 40, 40, 0.00) 99.99%, rgba(60, 60, 60, 0.00) 100%);
    text-align: center;
    border-radius: 20px;
    padding: .5rem;
}

.card-metas h3{
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;

    border-bottom: 1px solid var(--secundaria);
}

.card-metas .metas{
    margin-top: 30px;
}

.card-metas .metas:nth-child(1){
    margin-top: 20px;
}

.card-metas ul li{
    background: transparent;
    display: flex;
    justify-content: space-around;
    margin: 0 0 6px;
    padding: 8px;
}

.card-metas ul li img{
    max-width: 30%;
    border-radius: 5px;
}

.card-metas .content-data{
    width: 80%;
}

.card-metas .content-data .top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Poppins', sans-serif;
}


.card-metas .content-data .top-content h4{
    color: #FFF;

    font-family: Poppins;
    font-size: 70%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.card-metas .content-data .top-content p{
    color: var(--secundaria);
    font-family: Poppins;
    font-size: 80%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.progress{
    height: 4px;
    color: var(--secundaria);
    background-color: #525252;
    margin-bottom: 4px;
}
.progress-bar{
    background-color: var(--secundaria);
}

.mid-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

.mid-content p strong{
    color: var(--secundaria);
}  

.mid-content a{
    text-align: end;
}

.mid-content button img{
}

.bottom-content{
    display: flex;
    justify-content: flex-start;
}

.bottom-content p{
    color: #FFF;
}

.bottom-content p strong{
    color: var(--secundaria);
}

.footer-card{
    display: flex;
    justify-content: flex-end;
}

.footer-card button{
    background-color: transparent;
    border: none;

    position: fixed;
    bottom: 10%;
}

/* --- END SECOND CARD --- */
 
/* --- MODAL --- */

.icon{
    display: flex;
}

.input-icon{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.input-icon .form-icon{
    max-height: 30px;
    width: 100%;
}

/* --- MEDIA QUERIES --- */
@media(max-width:320px) {
    .mid-content p{
        font-size: 0.7rem;
    }

    .bottom-content p{
        font-size: 0.7rem;
    }

    .card-metas ul li img{
        max-width: 20%;
    }

    .footer-card button{
        background-color: transparent;
        border: none;
    
        position: fixed;
        bottom: 15%;
    }

}

@media(min-width:320px && max-width:425px) {
    .card-metas ul li img.icon{
        max-width: 1.6rem;
    }
}